<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zmwf_general_mark_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,171},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Zmwf_gyzj_js_tx_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{96,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,127}}</string>
                <key>sourceSize</key>
                <string>{96,127}</string>
            </dict>
            <key>Zmwf_zm_general_btn_gray_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,401},{262,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,112}}</string>
                <key>sourceSize</key>
                <string>{262,112}</string>
            </dict>
            <key>action_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{264,185}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{264,185}}</string>
                <key>sourceSize</key>
                <string>{272,189}</string>
            </dict>
            <key>action_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,515},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>action_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,515},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>action_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,515},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>action_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,917},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>action_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,605},{94,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,521},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,461},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>mj_zm_tx_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,167}}</string>
                <key>sourceSize</key>
                <string>{301,167}</string>
            </dict>
            <key>operate_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>pass_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{262,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,112}}</string>
                <key>sourceSize</key>
                <string>{262,112}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,401},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,581},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{514,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,130}}</string>
                <key>sourceSize</key>
                <string>{514,130}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{236,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,114}}</string>
                <key>sourceSize</key>
                <string>{236,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a52ed8d1e002e011de38dabb577e9d10:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
