<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ traveler.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,127}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{379,127}}</string>
                <key>sourceSize</key>
                <string>{397,137}</string>
            </dict>
            <key>btn_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,423},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{379,123}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{379,123}}</string>
                <key>sourceSize</key>
                <string>{397,137}</string>
            </dict>
            <key>check_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,423},{21,18}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,544},{41,18}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,383},{59,18}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,403},{79,18}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,443},{99,18}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>dian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,383},{117,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,472},{334,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,44}}</string>
                <key>sourceSize</key>
                <string>{334,44}</string>
            </dict>
            <key>loading_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,403},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yonghuxieyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{579,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,43}}</string>
                <key>sourceSize</key>
                <string>{579,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Loading.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc61f41a752d4ef1328e2879aec9052:1/1$</string>
            <key>textureFileName</key>
            <string>Loading.png</string>
        </dict>
    </dict>
</plist>
