<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,211},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>Z_arrow_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,140},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Z_arrow_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,414},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Z_count_down_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,380},{238,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,32}}</string>
                <key>sourceSize</key>
                <string>{240,32}</string>
            </dict>
            <key>Z_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,414},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>Z_money_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,116},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>Z_nobody.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,414},{41,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{41,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Z_offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>Z_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>Z_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,354},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Z_zhunbeizhuangt.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,399},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,39}}</string>
                <key>sourceSize</key>
                <string>{88,39}</string>
            </dict>
            <key>Zm_tihuan_counters_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,248},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>Zm_tihuan_counters_floor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,119}}</string>
                <key>sourceSize</key>
                <string>{272,119}</string>
            </dict>
            <key>Zm_tihuan_counters_word_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,116},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,489},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,489},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,204},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,414},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>btn_tcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,287},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>btn_wxyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{283,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,89}}</string>
                <key>sourceSize</key>
                <string>{283,89}</string>
            </dict>
            <key>btn_zb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{283,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,89}}</string>
                <key>sourceSize</key>
                <string>{283,89}</string>
            </dict>
            <key>count_down_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,380},{238,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,32}}</string>
                <key>sourceSize</key>
                <string>{240,32}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,123},{255,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{255,45}</string>
            </dict>
            <key>icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,457},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>jifen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,247},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>money_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,123},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>powerG.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{46,488},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>redButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,123},{274,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{274,77}}</string>
                <key>sourceSize</key>
                <string>{288,77}</string>
            </dict>
            <key>room_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,123},{248,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,26}}</string>
                <key>sourceSize</key>
                <string>{250,26}</string>
            </dict>
            <key>roundnumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,399},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>setTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{112,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJRoom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0639c7d5f6c44715ec04826071d91ed:1/1$</string>
            <key>textureFileName</key>
            <string>MJRoom.png</string>
        </dict>
    </dict>
</plist>
