<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,184},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>Z_arrow_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,130},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Z_arrow_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Z_count_down_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,184},{238,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,32}}</string>
                <key>sourceSize</key>
                <string>{240,32}</string>
            </dict>
            <key>Z_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,444},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>Z_money_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,185},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>Z_nobody.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,113},{41,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{41,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Z_offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,444},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>Z_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,82},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>Z_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,184},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Z_zhunbeizhuangt.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,444},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,39}}</string>
                <key>sourceSize</key>
                <string>{88,39}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,66},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>btn_tcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>btn_wxyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{283,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,89}}</string>
                <key>sourceSize</key>
                <string>{283,89}</string>
            </dict>
            <key>btn_zb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,89}}</string>
                <key>sourceSize</key>
                <string>{283,89}</string>
            </dict>
            <key>count_down_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,184},{238,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,32}}</string>
                <key>sourceSize</key>
                <string>{240,32}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{255,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{255,45}</string>
            </dict>
            <key>icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,444},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>jifen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,130},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>money_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,156},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>powerG.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{49,424},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>room_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,194},{248,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,26}}</string>
                <key>sourceSize</key>
                <string>{250,26}</string>
            </dict>
            <key>roundnumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,82},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJRoom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ca8da9e6f164fb8f35136e01c9db2be:1/1$</string>
            <key>textureFileName</key>
            <string>MJRoom.png</string>
        </dict>
    </dict>
</plist>
