<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{56,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,961},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,730},{36,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{36,76}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,670},{58,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,76}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{54,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{54,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,768},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{56,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,648},{44,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{44,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,252},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,186},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,694},{56,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,76}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{56,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,76}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,650},{18,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{18,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{52,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,492},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,434},{52,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,596},{52,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{52,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,540},{54,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,596},{50,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,434},{56,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,124},{60,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,804},{56,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,264},{60,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,374},{58,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,752},{50,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{62,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,826},{50,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{56,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{56,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,376},{56,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,318},{56,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,538},{56,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{56,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>Zmwf_ncmj_mark_jing.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,870},{50,48}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{50,48}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>aperture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>chupai_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,162}}</string>
                <key>sourceSize</key>
                <string>{120,164}</string>
            </dict>
            <key>front_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{66,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,98}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>pai_ce_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,964},{46,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>pai_ce_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,952},{46,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>pai_cemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,804},{32,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>pai_cemian_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,326},{60,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>pai_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>pai_mid_daping.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{46,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>pai_mid_daping_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{46,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>pai_mid_daping_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,878},{46,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>pai_mid_daping_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,862},{46,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>pai_shang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,910},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>pai_shang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,922},{40,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>pai_shang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,964},{38,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>pai_xia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{68,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,98}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>pai_xia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,126},{58,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>pai_xia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,64},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>pai_xia_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>pai_xia_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>pai_xia_fapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{70,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>tile_arraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,926},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MjTiles.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d6b8d6b205eee7b3721b4b8d8f3f43d:1/1$</string>
            <key>textureFileName</key>
            <string>MjTiles.png</string>
        </dict>
    </dict>
</plist>
